.about-banner{
 width: 100vw;
  height: 600px;
  background:
     url('/public/assets/images/aboutus/3.png') no-repeat;
     background-size: contain;
  display: flex;
  color: white;
}
@media (max-width: 1400px) {
   .about-banner{
     height: 520px;
    width:100vw;
       background:
    url('/public/assets/images/aboutus/3.png') center/cover no-repeat;
    background-size: cover;
   }
}

@media (max-width: 1200px) {
  .about-banner{
    height: 450px;
    width:100vw;
   
    background:
    url('/public/assets/images/aboutus/3.png') contain no-repeat;
  }}


@media (max-width: 992px) {
  .about-banner{
    height: 300px;
    width:100vw;
 
    background:
    url('/public/assets/images/aboutus/3.png') center/cover no-repeat;
  }}
  @media (max-width: 768px) {
    .about-banner{
      height: 540px;
      width:100vw;
   
      background:
      url('/public/assets/images/about/4.png') center/cover no-repeat;
    }}
