.about-banner{
  height: 86vh;
  background:
     url('/public/assets/images/aboutus/3.png');
  display: flex;
  color: white;
}


@media (max-width: 768px) {
  .about-banner{
    height: 540px;
    width:100vw;
    align-items: center;
    text-align: center;
    background:
    url('/public/assets/images/about/4.png') center/cover no-repeat;
  }}
