.facilities-banner {
  width: 100vw;
  height: 600px;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0.1)),
    url('/public/assets/images/facilites/4.png'
    ) no-repeat;
  background-size: contain;
  display: flex;
  color: white;
}
@media (max-width: 1400px) {
  .facilities-banner {
    height: 520px;
    background:
      url('/public/assets/images/facilites/4.png'
      ) no-repeat;
    background-size: contain;

  }
}

@media (max-width: 1200px) {
  .facilities-banner {
    height: 450px;
    background:
      url('/public/assets/images/facilites/4.png'
      ) no-repeat;
    background-size: contain;

  }

  .facilities-heading {
    display: none;
  }
}


@media (max-width: 1080px) {
  .facilities-banner {
    height: 80vh;
    width: 100vw;
    background:
      url('/public/assets/images/facilites/4.png') center/cover no-repeat
  }
}

@media (max-width: 768px) {
  .facilities-banner {
    height: 540px;
    padding: 0;
    background:
      url('/public/assets/images/facilites/5.png') center/cover no-repeat
  }


}

@media (max-width: 448px) {
  .facilities-banner {
    height: 540px;
    padding: 0;
    background:
      url('/public/assets/images/facilites/5.png') center/cover no-repeat
  }
}
