/* Header.css */
.main-header {
  background-color: #000000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  /* height: 50px; */
  font-size: 30px;
}


.menu-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.overlay-menu {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000000;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay-menu.open {
  transform: translateY(0);
}

.close-btn {
  align-self: flex-end;
  margin: 30px 100px 0 0;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.overlay-links {
  list-style: none;
  padding: 0;
  margin-left: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
}

.overlay-links li  a{
  color: white;
  font-size:30px;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Submenu */
.has-submenu {
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* Smooth Submenu Styles */
.has-submenu > .submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
  list-style: none;
  padding-left: 50px;
  margin-top: 5px;
}

/* On hover, show submenu with animation */
.has-submenu:hover > .submenu {
  max-height: 500px; 
  opacity: 1;
}

.submenu li {
  margin-top: 10px;
  font-size: 20px !important;
}

.sublinks{
 text-decoration:none !important;
  font-size: 20px !important;
}
@media (max-width: 768px) {
  .close-btn{display: none;
  }
  .overlay-links {
    margin-left: 50px;
  }
  .overlay-links li  a{
    font-size: 25px;
  }

}
